/* BASE */


body
{
    position: relative;
    width: auto;
    height: auto;
    background: #F2F2F2;
    margin: 0;
}

section
{
    position: relative;
    width: auto;
    height: auto;
    background: #FFFFFF;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.home_section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_img
{
    position: relative;
    width: auto;
    height: 400px;
}


/* NAVIGATION & FOOTER */


.bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_bar
{
    position: sticky;
    left: 0px;
    top: 0px;
    width: auto;
    height: auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CD3E3E;
    margin-bottom: 80px;
    z-index: 1;
}

.nav_link
{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-decoration: none;

    margin-left: 3vw;
    display: flex;
    justify-content: center;
    animation: nav_link_out 0.2s
}

.nav_link:hover
{
    animation: nav_link_in 0.2s forwards
}

.footer_link
{
    position: relative;
    width: auto;
    height: 40px;
    margin-left: 1vw;
    display: flex;
    align-self: center;
    animation: footer_link_out 0.2s
}

.footer_link:hover
{
    animation: footer_link_in 0.2s forwards
}


/* LOGO */


.logo_img
{
    position: relative;
    width: auto;
    height: 40px;
}

.logo_name
{
    position: relative;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.015em;
    margin-left: 1vw;
    color: #000000;
}


/* FLEX */


.grid
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.small_grid
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.content_column
{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content_row
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}


/* TEXT */


.paragraph
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
    width: auto;
    height: auto;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

h1
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

h2
{
    margin: 0px;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

h3
{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

.green
{
    color:rgba(37, 233, 70, 0.8);
}

.red
{
    color:rgba(233, 37, 37, 0.8);
}

.gray
{
    color:rgba(158, 158, 158, 0.8);
}


/* BOUTONS */


.button_link
{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    animation: button_link_out 0.3s
}

.button_link:hover
{
    animation: button_link_in 0.3s forwards
}

.link_button
{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CD3E3E;
    border-radius: 5px;
}

.download_button
{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0px;
    margin-right: 10px;
    width: 60px;
    height: auto;
    display: flex;
    align-items: center;
    background: #CD3E3E url('Médias/Download.png') no-repeat;
    background-size: 20px 20px;
    background-position: 50px 50%;
    border-radius: 5px;
}


/* ANIMATIONS */


@keyframes nav_link_in
{
    from
    {
        margin-top: 0px;
    }
    to
    {
        margin-top: -5px;
    }
}

@keyframes nav_link_out
{
    from
    {
        margin-top: -5px;
    }
    to
    {
        margin-top: 0px;
    }
}

@keyframes footer_link_in
{
    from
    {
        margin-top: 0px;
    }
    to
    {
        margin-top: 2px;
    }
}

@keyframes footer_link_out
{
    from
    {
        margin-top: 2px;
    }
    to
    {
        margin-top: 0px;
    }
}

@keyframes button_link_in
{
    from
    {
        font-size: 17px;
    }
    to
    {
        font-size: 18px;
    }
}

@keyframes button_link_out
{
    from
    {
        font-size: 18px;
    }
    to
    {
        font-size: 17px;
    }
}